@import "bootstrap-sprockets";
@import "bootstrap";

input[type='checkbox'] {
   width: 50px;
   height: 50px;
}

.img-fluid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

a.nav-item {
  padding: 5px;
}

.nav-text {
   color: black
}

#welcome-btn {
   margin-right: 1em
} 

#welcome-header {
   padding-top: 0.75em;
   padding-bottom: 2em
}

#bg { 
   background: url(asset_path("clothes.jpeg"));
   height: 100px; 
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
} 

#profile-container {
   display: flex;
   flex-direction: row;
}

#profile-info {
   display: flex;
   flex-direction: column;
   padding-left: 2em
}

#profile-btn {
   align-self: baseline;
   margin-top: 215px;
} 

#pieces-container {
   display: flex;
   flex-direction: column;
}

.piece-container {
   display: flex;
   flex-direction: column;
   margin-bottom: 1em
} 

.type-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
}

.piece-card {
   display: flex;
   flex-direction: column;
   justify-content: center;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   padding: 5px;
   margin: 5px
}

.piece-card img {
   height: 200px;
   width: auto;
}

.outfit-card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}