<h5>Welcome Back <%= @user.first_name %>!</h5>


<h1><%= @user.first_name.capitalize + " " + @user.last_name.capitalize %></h1>

<%= image_tag @user.image %>

<p>Would you like to add clothes to your closet?</p>
<p>Want to make an outfit?</p>
<p>Edit user profile, <%= link_to(@user.email, edit_user_path(@user))%></p>
