<!DOCTYPE html>
<html>
    <head>
      <div id="bg" class="jumbotron jumbotron-fluid">
      </div>

    </head>

    <body>
        <div class="container" id="profile-container">
            <%= image_tag(@user.image, height: 350) %>
            <div class="container" id='profile-info'>
              <h4> Username: <%= @user.username %> </h4>
              <br/>
              <h4> Email: <%= @user.email %> </h4>
              <%= link_to 'Edit Account', edit_user_path(current_user), :class => "btn btn-primary", :id => "profile-btn" %>
            </div>
        </div>
    </body>
</html>
