<div id="bg" class="jumbotron jumbotron-fluid"></div>
<div class="jumbotron" id='welcome-header'>
  <h1 class="display-4">Welcome to Dressd</h1>
  <h2>A place to keep track of all your clothes!</h2>

  <br/>

  <% if session[:user_id] %>
  <% nil %>
  <% else %>
  <%= link_to("Sign up", new_user_path, :class => "btn btn-primary", :id => "welcome-btn") %>
  <% end %>

  <% if session[:user_id] %>
  <h5> Not <%= current_user.username %>? <%= link_to "Logout", logout_path, :method => 'delete' %></h5>
  <% else %>
  <%= link_to("Login", login_path) %>
  <% end %>
</div>