<!DOCTYPE html>
<html>
    <head>
        <div class="container">
            <h2> Your Outfits </h2>
        </div>
    </head>

    <body>
        <div class="container">
          <% @outfits.each do |outfit| %>
          <h4> <%= link_to(outfit.name, outfit_path(outfit)) %> (<%=outfit.occasion.name%>) </h4>
              <% outfit.pieces.each do |piece| %>
                <%= image_tag(piece.image, height: 200) %>
              <% end %> 
          <% end %>
        </div> 
    </body>
</html>