<h1>Welcome to your awesome closet!</h1>

<ul>
  <% @pieces.each do |piece| %>
  <li>
    <%= piece.name %>
  </li>
  <li>
    <%= piece.color %>
  </li>
  <li>
    <%= piece.category.name %>
  </li>
  <li>
    <%= image_tag piece.image %>
  </li>
  <br>
  <% end %>
</ul>
